body {
    padding: 1rem;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
    margin: -1rem -1rem 1rem -1rem;
}

h1 {
    margin: 0;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

#footer {
    margin-top: 2rem;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    padding: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
}
